@import '../../../styles/palette';
@import '../../../styles/potitions';
@import '../../../styles/sizes';

.grid-navbar {
    position: fixed;
    top: $header;
}

.navbar-hide, .navbar-show {
    background-color: $pure-menu;
    border-right: 1px solid $pure-line;
    height: 100vh;
}

.navbar-hide {
    width: 0px;
    height: 100vh;
    transition: all 0.5s ease;
}
.navbar-show {
    display: table;
    width: $navbar;
    transition: all 0.3s ease;
    position: relative;
}

.navbar-tile {
    /* display: grid; */
    width: 100%;
    height: 60px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-tile:hover {
    background-color: $primary-darken;

}

.navbar-icon {
    width: 28px;
    margin: {
        left: auto;
        right: auto;
    }
    padding: {
        top: 18px;
    }
}
.navbar-edit {
    /* position: inherit;
    grid-column: vv1 / vv2;
    grid-row: hh2 / hh3; */
    position: relative;
    height: 100vh;
    width: 60px;
    /* background-color: $pure; */
    transition: all 0.7s ease;
}
.edit-tile {
    position: absolute;
    bottom: 70px;
    height: 60px;
    width: 60px;
}