@import '../../../styles/palette';
@import '../../../styles/potitions';
@import '../../../styles/sizes';
@import '../../../styles/text';

.open-navbar {
    position: fixed;
    top: $header;
    transition: all 0.5s ease;
}
.close-navbar {
    position: fixed;
    top: $header;
    margin-left: 0 - $navbar;
    transition: all 0.5s ease;
}

.navbar-base {
    position: relative;
    background-color: $pure-menu;
    border-right: 1px solid $pure-line;
    height: 100vh;
    width: $navbar;
}

.navbar-overflow-superadmin {
    position: relative;
    height: -webkit-calc(100vh - 135px);
    height:    -moz-calc(100vh - 135px);
    height:         calc(100vh - 135px);
    padding: {
        top: 15px;
    }
    margin: {
        bottom: 30px;
    }
    overflow-y: auto;
    overflow-x: hidden;
}

.navbar-tile {
    width: $navbar - 10px;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-tile:hover {
    background-color: $pure-line;
}

.navbar-icon {
    padding: {
        top: 8px;
        left: 8px;
    }
}

.navbar-iconfont-netral {
    cursor: pointer;
    position: absolute;
    @extend %noselect;
    color: $secondary-darken;
    font-size: 18pt;
    color: $dark;
}

.navbar-name {
    padding: {
        left: 60px;
        top: 3px;
    }
    font-size: 10pt;
}

.navbar-tile-child-base {
    width: $navbar;
    background-color: $pure;
    padding: {
        top: 2px;
        bottom: 2px;
    }
}

.navbar-tile-child {
    width: $navbar - 20px;
    margin: 5px;
    padding-left: 10px;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-tile-child:hover {
    background-color: $pure-darken;
}

.navbar-icon-child {
    padding: {
        top: 8px;
        left: 8px;
    }
}
.navbar-name-child {
    padding: {
        left: 50px;
        top: 0px;
    }
    font-size: 9pt;
}

.navbar-iconfont-netral-child {
    cursor: pointer;
    position: absolute;
    @extend %noselect;
    color: $secondary-darken;
    font-size: 14pt;
    color: $dark-lighten;
}

.edit-tile {
    position: absolute;
    bottom: 35px;
    padding-top: 20px;
    height: 65px;
    background-color: $pure;
    width: $navbar;
}