@import '../../../styles/palette';
@import '../../../styles/potitions';
@import '../../../styles/sizes';
@import '../../../styles/text';

.open-navbar {
    position: fixed;
    z-index: 9997;
    top: $header;
    transition: all 0.5s ease;
}
.close-navbar {
    z-index: 9997;
    position: fixed;
    top: $header;
    margin-left: 0 - ($navbar + 1px);
    transition: all 0.5s ease;
}

.navbar-base {
    position: relative;
    background-color: $pure-menu;
    border-right: 1px solid $pure-line;
    height: 100vh;
    width: $navbar;
}

.navbar-overflow-superadmin {
    position: relative;
    height: -webkit-calc(100vh - 135px);
    height:    -moz-calc(100vh - 135px);
    height:         calc(100vh - 135px);
    padding: {
        top: 15px;
    }
    margin: {
        bottom: 30px;
    }
    overflow-y: auto;
    overflow-x: hidden;
}

.edit-tile {
    position: absolute;
    bottom: 35px;
    padding-top: 20px;
    height: 65px;
    background-color: $pure;
    width: $navbar;
}

.navbar-add-on, .navbar-add-off {
    position: absolute;
    left: $navbar - 50px;
}
.navbar-add-on {
    bottom: 34px;
    transition: all 0.4s ease;
    transition-delay: .2s
}
.navbar-add-off {
    bottom: -15px;
    transition: all 0.4s ease;
}
.navbar-add-button {
    padding-top: 2px;
    font-size: 12pt;
}

.navbar-black-screen, .navbar-black-off {
    width: 100%;
    z-index: 9997;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.251);
    position: absolute;
}
.navbar-black-off {
    visibility: hidden !important;
}

@media( max-width : 480px ){
    .navbar-base {
        background-color: $primary;
        border-right: 1px solid $primary;
        padding-top: $header - 0px;
    }
    .edit-tile {
        background-color: $primary-darkhover;

    }
    .open-navbar, .close-navbar {
        top: 0px;
        z-index: 9998;
    }
    .navbar-black-screen {
        z-index: 9998;
    }
}