@import '../../styles/shadows';
@import '../../styles/palette';

.pagination-wrapper {
    position: absolute;
    right: 0;
    transform: translateX(-82px);
}
button.arrow-active {
    float: left;
    border-radius: 50% !important;
    margin-top: 3px;
    height: 36px;
    width: 36px;
    border: 1px solid transparent;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: $dark-lighten;
    outline: none;
}
button.arrow-active:hover {
    color: black;
}
button.arrow-active::before {
    content: '';
    background-color: #00000011;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid  rgba(0, 0, 0, 0.197);
    transform-origin: center;
    transform: translate(50%, -50%) scale(0,0);
    transition: transform 0.1s ease-out;
}
button.arrow-active:hover::before, button.arrow-active:focus::before {
    transform: translate(50%, -50%) scale(1,1);
}
button.arrow-active:focus::before {
    width: 31px;
    height: 31px;
    border: 1px solid  rgba(0, 0, 0, 0.197);
}
button.arrow-active:disabled {
    color: #0000006f;
    cursor: auto;
}
button.arrow-active:disabled::before {
    transform: translate(50%, -50%) scale(0,0);
}
.pagination-arrow {
    font-size: 21px;
    transform: translate(-0.5px, 1px)
}

button.page-button {
    cursor: pointer;
    float: left;
    margin-top: 4px;
    height: 33px;
    width: 62px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 12px;
    color: $dark;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    outline: none;
}
button.page-button:hover {
    color: black;
}
button.page-button::before {
    content: '';
    background-color: #00000011;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 36px;
    width: 62px;
    border-radius: 4px;
    transform-origin: center;
    transform: translate(50%, -50%) scale(0,0);
    transition: transform 0.2s ease-in-out;
}
button.page-button:hover::before {
    transform: translate(50%, -50%) scale(1,1);
}

.page-socket {
    float: left;
    position: relative;
}
.page-show , .page-hide{
    visibility: visible;
    opacity: 1;
    position: absolute;
    background-color: white;
    @extend %better-shadow;
    width: 60px;
    top: 100%;
    right: 50%;
    transform: translate(50%, 0);
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    div {
        cursor: pointer;
        color: $dark;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    div:hover{
        background-color: #0000001d;
        color: black;
    }
    .marked-page {
        background-color: #0000001d;
        padding: {
            top: 0px;
            bottom: 1px;
            left: 7px;
            right: 7px;
        }
        border-radius: 50px;
    }
}
.page-hide {
    visibility: hidden;
    opacity: 0;
}
button.onHover {
    background-color: #00000011;
    color: black;
}