@import '../../styles/potitions';
@import '../../styles/palette';
@import '../../styles/sizes';


@media (max-width: 485px) {
    .content-square {
        padding: 0px !important;
    }
    .content-socket {
        border-radius: 0px !important;
    }
    .content-navbar-open {
        padding-left: 0px !important;
    }
}

.content-base {
    padding-top: $header;
    width: 100%;
}

.content-navbar-open, .content-navbar-close {
    height: -webkit-calc(100vh - #{$header});
    height:    -moz-calc(100vh - #{$header});
    height:         calc(100vh - #{$header});
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease;   
}
.content-navbar-open {
    padding-left: $navbar;
}
.content-navbar-close {
    padding-left: 0px;
}

.content-square {
    padding: 10px;
}

.content-socket {
    width: 100%;
    //overflow-wrap: break-word;
}