@import '../../styles/potitions';
@import '../../styles/palette';
@import '../../styles/sizes';


@media (max-width: 710px) {
    .content-square {
        padding: 0px !important;
    }
    .content-socket {
        border-radius: 0px !important;
    }
    .content-navbar-open {
        padding-left: 0px !important;
    }
}

.content-navbar-open, .content-navbar-close {
    transition: all 0.5s ease;   
}
.content-navbar-open {
    padding-left: $navbar;
}
.content-navbar-close {
    padding-left: 0px;
}

//!USE IN CHILD
//?MOVE THIS LATER?
.content-base {
    padding-top: $header;
    width: 100%;
}
.content-square {
    height: -webkit-calc(100vh - #{$header});
    height:    -moz-calc(100vh - #{$header});
    height:         calc(100vh - #{$header});
    overflow-y: auto;
    overflow-x: hidden;
}

.content-socket {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    padding: 5px;
    padding-top: 0px;
    width: 100%;
}