// ref: https://stackoverflow.com/questions/4698054/css-does-the-width-include-the-padding
@import '../../styles/palette';
@import '../../styles/potitions';
@import '../../styles/text';

input {     
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    padding: {
        top: 5px;
        bottom: 5px;
        left: 10px;
        right: 10px;
    }
    border-radius: 5px;
    border: 1px solid $pure-darken;
    transition: all 0.5s ease;
    line-height: unset;
    display: flex;
    position: sticky;
    box-shadow: none;
    outline: none;
    text-overflow: ellipsis;
    text-shadow: none;
    min-height: 32px;
    min-width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
}

input::placeholder {
    font-style: italic;
}

input:active, input:focus {
    border: 1px solid $primary-lighten;
    box-shadow: 0 0 0 .5pt $primary-lighthover;
    /* padding: {
        top: 4px;
        bottom: 4px;
        left: 9px;
        right: 9px;
    } */
}

.input-label {
    font-size: 10pt;
    margin-bottom: -16px;
    margin-top: -10px;
    color: $pure-darken;
    transition: all .4s ease;
}

.input-label-focus {
    font-size: 10pt;
    margin-left: 2px;
    margin-bottom: -16px;
    margin-top: -10px;
    color: $dark;
    transition: all .4s ease;
}

.input-container {
    max-width: 225px;
    @extend %auto-margin;
    position: relative;
}

.input-fluid {
    width: 100%;
    position: relative;
}

.visibility {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 89%;
    color: $secondary;
    @extend %noselect;
}

.input-visibility, .input-visibility:focus, .input-visibility:active {
    padding-right: 40px !important;
}

