@import '../../styles/pallet';

input {     
    width: 233px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid $border;
    transition: all 0.5s ease;
    line-height: unset;
    display: flex;
    position: sticky;
    box-shadow: none;
    outline: none;
    text-overflow: ellipsis;
    text-shadow: none;
    min-height: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

input::placeholder {
    font-style: italic;
}

input:active, input:focus {
    border-color: $main1;
    
}