@import '../../../styles/potitions';
@import '../../../styles/palette';
@import '../../../styles/sizes';

.grid-content {
    display: grid;
    grid-template-columns:  [v1] 20px [v2] 60px 
                            [v3] 20px [v4] auto [v5] 20px [v6];
    grid-template-rows: [h1] $header [h2] auto [h3];
}


.content-base {
    grid-column: v2 / v5;
    grid-row: h2 / h3;
    padding-left: 2px;
    transition: all 0.5s ease;
}
.content-base-open {
    grid-column: v2 / v5;
    grid-row: h2 / h3;
    padding-left: $navbar + 5px;
    /* transition: all 0.3s ease; *//* 
    transition-delay: 0.2s; */
}

@media (max-width: 485px) {
    .content-base {
        grid-column: v1 / v6 !important; 
        grid-row: h2 / h3;
        transition: all 0.5s ease;
    }
    .content-base-open {
        grid-column: v1 / v6 !important; 
        grid-row: h2 / h3;
        padding-left: 0px !important;
        transition: all 0.5s ease;
    }
}

.content-dummy-base {
    top: 60px;
    margin: {
        top: 20px;
        bottom: 20px;
        right: auto;
        left: auto;
    }
    width: 100%;
    height: 93%;
    background-color: $pure;
    border-radius: 15px;
}
.content-dummy-wrapper {
    padding: 20px;
}
.content-dummy-title {
    height: 40px;
    max-width: 400px;
    background-color: $pure-darken;
    border-radius: 10px;
}
.content-dummy-table-header {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: $pure-darken;
    border-radius: 10px;
}
.content-dummy-table-data {
    margin-top: 20px;
    width: 100%;
    min-height: 1000px;
    background-color: $pure-darken;
    border-radius: 10px;
}