@import '../../styles/palette';
@import '../../styles/sizes';
@import '../../styles/shadows';


.notifbar-base {
    position: fixed;
    width: 100%;
    z-index: 9998;
}

.notifbar {
    border-radius: 0px 0px 10px 10px;
    max-width: 500px;
    margin: ($header + 0px) auto 0px auto;
    min-height: 28px;
    overflow-wrap: break-word;
    @extend %shadow;
    cursor: pointer;
}

.notifbar-off {
    max-width: 500px;
    margin: -28px auto 0px auto;
    min-height: 28px;
    transition: all .5s ease
}

.notifbar-text {
    padding: 5px;
    text-align: center;
    font-size: 10pt;
}

.successnotif {
    background-color: $submit;
    color: $pure-lighten;
    transition: all .5s ease;
}
.successnotif:hover, .errornotif:hover {
    background-color: $dark;
}
.errornotif {
    background-color: $error;
    color: $pure-lighten;
    transition: all .5s ease;
}
.afterSuccess {
    background-color: $dark;
    color: $pure-lighten;
    transition: all 1s ease;
}

.notifbar-loading-wrapper {
    width: calc(100% - 0px);
    margin: auto;
    position: relative;
    /* -ms-transform: translate(0px, -1.5px);
    -webkit-transform: translate(0px, -1.5px);
    transform: translate(0px, -1.5px); */
}
.notifbar-loading {
    opacity: 1;
    height: 3px;
    border-radius: 0px;
    position: absolute;
    transition: all .5s linear;
    z-index: 20;
}
.successnotif-loading {
    background-image: linear-gradient(
        to right, $submit-darken, $submit-lighten
    );
}
.errornotif-loading {
    background-image: linear-gradient(
        to right, $error-darken, $error-lighten
        );
}

.notifbar-loading-negatif {
    background-color: black;
    opacity: .3;
    height: 3px;
    width: 100%;
    border-radius: 3px;
    position: absolute;
    z-index: 19;
}

@media( max-width : 485px ){
    .notifbar-base{  
        z-index: 9999;
    }
    .notifbar {
        border-radius: 0px !important;
        margin: 0px auto 0px auto !important;
    }
    .notifbar-button {
        padding-left: 93% !important;
    }
    .notifbar-loading-wrapper {
        width: 100% !important;
    }
    .notifbar-loading {
        background-color: $primary-darkhover !important;
        opacity: 1 !important;
    }
}