@import '../../styles/palette';
@import '../../styles/sizes';
@import '../../styles/shadows';

.notifbar-base {
    position: fixed;
    width: 100%;
}

.notifbar {
    border-radius: 8px;
    max-width: 900px;
    margin: ($header + 20px) auto 0px auto;
    height: 30px;
    @extend %shadow;
    transition: all .9s ease
}

.notifbar-off {
    max-width: 900px;
    margin: -30px auto 0px auto;
    height: 30px;
    transition: all 1s ease
}

.notifbar-text {
    padding: {
        top: 5px;
    }
    text-align: center;
    font-size: 10pt;
}

.notifbar-button {
    position: relative;
    top: -15px;
    padding-left: 875px;
}

.success {
    background-color: $success-darken;
    color: $pure-lighten;
    transition: all 1s ease;
}
.afterSuccess {
    background-color: $dark;
    color: $success;
    transition: all 1s ease;
}

@media (max-width: 915px) {
    .notifbar {
        border-radius: 0px !important;
        margin: $header auto 0px auto !important;
    }
    .notifbar-button {
        padding-left: 93% !important;
    }
}