//COLOR THEME
$primary-lighten:   #ffeb3b;
$primary:           #ffb300;
$primary-darken:    #ff8f00;

$secondary-lighten: #aaaaaa; //temporary
$secondary:         #22606C;
$secondary-darken:  #2A2C2E; 

//WHITE
$pure-lighten:      #ffffff;
$pure:              #ECECEC;
$pure-darken:       #c2c2c2;

//BUTTON
$submit-lightest:   #E4EDF8;
$submit-lighten:    #B1CCEA;
$submit:            #2196F3;
$submit-darken:     #1977D3;

//NOTIFICATION
$error-lightest:    #FBE5E1;
$error-lighten:     #FFC4C4;
$error:             #E14C35;
$error-darken:      #C0341D;

/* $success-lighten:
$success:
$success-darken: */


//ON PlANING

$hlightPrimary: #ffff00;
$hlightSecondary: #18ffff;