$main1: #ffb300;
$mainshade1: #ff8f00;
$mainshade2:#ffeb3b;
$main2: #22606C;
$background: #ECECEC;
$basemodal: #ffffff;
$border: #c2c2c2;
$hlightPrimary: #ffff00;
$hlightSecondary: #18ffff;

$error0: #FBE5E1;
$error1: #E14C35;
$error2: #C0341D;
