//*COLOR THEME
$primary-lighthover:#FFCA4E;
$primary-lighten:   #fff6a7;
$primary:           #ffb300;
$primary-darken:    #ff8f00;
$primary-darkhover: #E5A100;

$secondary-lighten: #aaaaaa; //temporary
$secondary:         #293e61;
$secondary-darken:  rgb(54, 56, 58); 

//*WHITE
$pure-chrome:       #F1F3F4;
$pure-lighten:      #ffffff;
$pure-menu:         #FCFCFC;
$pure:              #ECECEC;
$pure-line:         #DDDDDD;
$pure-darken:       #c2c2c2;

//*BLACK
$dark-lighten:      rgb(136, 136, 136);
$dark:              #3E3E3E;

//*BUTTON
$submit-lightest:   #E4EDF8;
$submit-lighten:    #B1CCEA;
$submit:            #1976D2;
$submit-darken:     #145DA6;

//*NOTIFICATION
$error-lightest:    #FBE5E1;
$error-lighten:     #FFC4C4;
$error:             #E14C35;
$error-darken:      #C0341D;

$success-lighten:   #B9E1BB;
$success:           #13E32F;
$success-darken:    #2D692F;


//?ON PlANING

$hlightPrimary: #ffff00;
$hlightSecondary: #18ffff;