.fluid {
    width: 100%;
}

.fluid-input {
    width: 91.5%;
}

%auto-margin {
    margin: {
        left: auto;
        right: auto;
    }
}
.center {
    @extend %auto-margin;
}

// GRID SETTING

%grid-header-base {
    display: grid;
    grid-template-columns: [hb1] 60px [hb2] auto [hb3] 100px [hb4] 20px [hb5];
    grid-template-rows: [hhb1] 60px [hhb2];
}
%grid-header-menu {
    grid-column: hb3 / hb4;
    grid-row: hhb1 / hhb2;
}
