@import '../../styles/palette';

.grid-base {
    display: grid;
    grid-template-columns: [v1] 60px [v2] 20px [v3] auto [v4] auto [v5] 100px [v6] 20px [v7];
    grid-template-rows: [h1] 60px [h2] auto [h3] 20px [h4];
    width: 100vw;
    height: 100vh;
}

.grid-header {
    grid-column: v1 / v7;
    grid-row: h1 / h2;
    background-color: $pure-lighten;
    border-bottom: 1px solid $pure
}
.header-menu {
    grid-column: v5 / v6;
    grid-row: h1 / h2;
    display: table;
    width: 100%;
    height: 100%;
}
.header-menu-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.grid-navbar {
    grid-column: v1 / v2;
    grid-row: h1 / h4;
    position: fixed;
}

.navbar {
    position: absolute;
    background-color: $primary;
    width: 60px;
    height: 100vh;
    transition: all 0.5s ease;
}
.navbar:hover {
    width: 70px;
}

.grid-content {
    grid-column: v3 / v6;
    grid-row: h2 / h4;/* 
    background-color: $pure; */
}

//DUMMY CONTENT FOR LOADING
.content-dummy-base {
    margin: {
        top: 20px;
        bottom: 20px;
        right: auto;
        left: auto;
    }
    max-width: 1265px;
    height: 93%;
    background-color: $pure;
    border-radius: 15px;
}
.content-dummy-wrapper {
    padding: 20px;
}
.content-dummy-title {
    height: 40px;
    max-width: 400px;
    background-color: $pure-darken;
    border-radius: 10px;
}
.content-dummy-table-header {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: $pure-darken;
    border-radius: 10px;
}
.content-dummy-table-data {
    margin-top: 20px;
    width: 100%;
    min-height: 375px;
    background-color: $pure-darken;
    border-radius: 10px;
}