@import '../../styles/text';
@import '../../styles/palette';

.contras, .vivid {
    cursor: pointer;
    /* width: 100%;
    height: 100%; */
    position: absolute;
    top: 11%;
    left: 89%;
    @extend %noselect;
}

.basic {
    cursor: pointer;
    position: fixed;
    @extend %noselect;
    color: $secondary-darken;
    font-size: 20pt;
}

.basic:hover {
    color: black;
}

.contras {
    color: $primary;
}

.vivid {
    color: $secondary;
}