@import '../../styles/palette';
@import '../../styles/shadows';
@import '../../styles/text';

@media (max-width: 960px) {
    .table-header {
        min-width: 1000px !important;
    }
    #Name {
        width: 165px !important;
    }
    #Address {
        width: 185px !important;
    }
    #Telephone {
        width: 84px !important;
    }
    .table-header-show {
        overflow-x: hidden !important;
    }
}

@media (max-width: 460px) {
    .content-header {
        grid-template-columns: [chh1] 230px [chh2] auto [chh3] 75px [chh4] !important;
    }
    .content-data-status {
        height: 24px;
        border: none !important;
        margin-top: 0px !important;
        padding-top: 10px !important;
        padding-left: 8px !important;
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    .header-line {
        height: 100px !important;
    }
} 

@media (max-width: 440px) {
    .add-button-text{
        display: none;
    }
}

.header-sticky {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: $pure-lighten;
    z-index: 20;
    padding-top: 10px;
    
}
.header-line {
    height: 80px;
}

.content-header {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: [chh1] 370px [chh2] auto [chh3] 75px [chh4];
}
.content-info {
    grid-column: chh1 / chh2;
    font-size: 20pt;
    margin-bottom: 10px;
}
.content-icon-base {
    height: 40px;
    width: 40px;
    background-color: $pure;
    border-radius: 5px;
    float: left;
}
.title-icon {
    font-size: 24px;
    padding-top: 8px;
    width: 100%;
    color: $dark;
    margin: auto;
    text-align: center;
    @extend %noselect;
}
.content-title {
    color: black;
    font-weight: 650;
    max-width: 200px;
    float: left;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 18px;
    margin-top: -1px;
}
.content-data-status {
    margin-top: 6px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 13px;
    border-radius: 6px;
    border: 1px dashed $pure-line;
    float: left;
}
.data-status-rows {
    float: left;
}
.data-status-attributes {
    padding-left: 13px;
    float: left;
    display: inline-block
}
.data-status-icon {
    padding-top: 2px;
    font-size: 18px;
    font-weight: 100;
    color: #707070;
    float: left;
    @extend %noselect;
}
.data-status-number {
    font-weight: 650;
    font-size: 15px;
    padding-left: 4px;
    padding-top: 1px;
    float: left;
}
.data-status-loading {
    border-radius: 3px;
    margin-left: 3px;
    float: left;
    height: 14px;
    width: 16px;
    border: 1px solid $pure;
    background-color: $pure;
    margin-top: 4px;
}
.data-status-text {
    padding-top: 1.5px;
    font-size: 14px;
    padding-left: 4px;
    font-weight: 400;
    float: left;
}
.content-add-button {
    grid-column: chh3 /chh4;
    padding-top: 4px;
    position: absolute;
    right: 0;
    button {
        min-width: 0px !important;
        border: 1px solid $pure-line;
        height: 33px !important;
    }
}
.add-button-icon {
    font-size: 20px;
    float: left;
}
.add-button-text {  
    float: left;
    margin-top: 2px;
    margin-right: 8px;
}


.table-header-base {
    position: relative;
    margin-right: 0px;
}
.table-header-mask,.table-header-mask-off {
    bottom: 0;
    width: calc(100% + 20px);
    height: 40px;
    z-index: -1;
    position: absolute;
    transform: translate(-10px, 42px);
    overflow: hidden;
}
.table-header-mask-off {
    visibility: hidden;
}
.table-header-show, .table-header-hide {
    position: absolute;
    width: calc(100% - 22px);
    height: 38px;
    border-radius: 6px 6px 0 0;
    border: 1px solid #e5e5e5;
    background-color: #FCFCFC;
    transition: all .3s ease;
    overflow: hidden;
}
.table-header-show {
    transform: translate(10px,0px);
}
.table-header-hide {
    transform: translate(10px,-40px);
}
#Name {
    width: 27.8%;
}
#Address {
    width: 31.8%;
}
#Telephone {
    width: 16.4%;
}

.pagination-wrapper {
    position: absolute;
    right: 0;
    transform: translateX(-82px);
}
button.arrow-active {
    float: left;
    border-radius: 50% !important;
    margin-top: 3px;
    height: 36px;
    width: 36px;
    border: 1px solid transparent;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    color: $dark-lighten;
    outline: none;
}
button.arrow-active:hover {
    color: black;
}
button.arrow-active::before {
    content: '';
    background-color: #00000011;
    position: absolute;
    top: 50%;
    right: 50%;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid  rgba(0, 0, 0, 0.197);
    transform-origin: center;
    transform: translate(50%, -50%) scale(0,0);
    transition: transform 0.1s ease-out;
}
button.arrow-active:hover::before, button.arrow-active:focus::before {
    transform: translate(50%, -50%) scale(1,1);
}
button.arrow-active:focus::before {
    width: 31px;
    height: 31px;
    border: 1px solid  rgba(0, 0, 0, 0.197);
}
button.arrow-active:disabled {
    color: #0000006f;
    cursor: auto;
}
button.arrow-active:disabled::before {
    transform: translate(50%, -50%) scale(0,0);
}
.pagination-arrow {
    font-size: 21px;
    transform: translate(-0.5px, 1px)
}

button.page-button {
    cursor: pointer;
    float: left;
    margin-top: 4px;
    height: 33px;
    width: 62px;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 12px;
    color: $dark;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    outline: none;
}
button.page-button:hover {
    color: black;
}
button.page-button::before {
    content: '';
    background-color: #00000011;
    position: absolute;
    top: 50%;
    right: 50%;
    height: 36px;
    width: 62px;
    border-radius: 4px;
    transform-origin: center;
    transform: translate(50%, -50%) scale(0,0);
    transition: transform 0.2s ease-in-out;
}
button.page-button:hover::before {
    transform: translate(50%, -50%) scale(1,1);
}

.page-socket {
    float: left;
    position: relative;
}
.page-show , .page-hide{
    visibility: visible;
    opacity: 1;
    position: absolute;
    background-color: white;
    @extend %better-shadow;
    width: 60px;
    top: 100%;
    right: 50%;
    transform: translate(50%, 0);
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    div {
        cursor: pointer;
        color: $dark;
        padding-top: 2px;
        padding-bottom: 3px;
    }
    div:hover{
        background-color: #0000001d;
        color: black;
    }
    .marked-page {
        background-color: #0000001d;
        padding: {
            top: 0px;
            bottom: 1px;
            left: 7px;
            right: 7px;
        }
        border-radius: 50px;
    }
}
.page-hide {
    visibility: hidden;
    opacity: 0;
}
button.onHover {
    background-color: #00000011;
    color: black;
}