@import '../../../styles/potitions';
@import '../../../styles/palette';

.grid-header {
    @extend %grid-header-base;
    background-color: $pure-lighten;
    border-bottom: 1px solid $pure;
    position: fixed;
    width: 100%;
    height: 60px;

}

.header-menu {
    @extend %grid-header-menu;
    display: table;
    width: 100%;
    height: 100%;
}
.header-menu-wrapper {
    display: table-cell;
    vertical-align: middle;
}