@import '../../../styles/palette';
@import '../../../styles/shadows';
@import '../../../styles/text';
@import '../../../styles/sizes';


.content-wrapper {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
}